{% extends "base.html" %}

{% block content %}

<h1>Leave Management</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/leave/overview' %}active{% endif %}" href="{{ url_for('leave_overview') }}">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/leaves' %}active{% endif %}" href="{{ url_for('view_all_leaves') }}">View Employee Leave Balance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/pending_leave_requests' %}active{% endif %}" href="{{ url_for('pending_leave_requests') }}">Pending Leave Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/request_leave' %}active{% endif %}" href="{{ url_for('request_leave') }}">Request Leave Form</a>
            </li>
        </ul>
    </div>
</nav>




{% endblock %}